.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: block;
  float: left;
  width: 33.33%;
  text-align: center;
}

.nav-item > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.nav-item > .active {
  background-color: #aaa;
  color: white;
}